<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Lançamentos</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button class="btn btn-sm btn-primary" (click)="novo()">Novo</button>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Categoria</th>
                        <th style="width: 20%">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lancamentos">
                        <td>
                            <i class="fas fa-plus" *ngIf="item.tipo == 'RECEITA'" title="{{item.tipo}}"></i>
                            <i class="fas fa-minus" *ngIf="item.tipo == 'DESPESA'" title="{{item.tipo}}"></i>
                        </td>

                        <td>{{item.descricao}}</td>
                        <td>{{item.valor}}</td>
                        <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.categoria?.nome}}</td>
                        <td>
                            <i class="far fa-edit" style="cursor: pointer" (click)="edit(item)"></i>
                            <i class="far fa-trash-alt" style="cursor: pointer" (click)="remover(item.id);"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal cadastro-->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lançamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <app-lancamento-form [lancamento]="lancamentoSelecionado" (onSalvar)="onSalvar($event)">
                </app-lancamento-form>
            </div>

        </div>
    </div>
</div>


<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>